	<% include header.ejs %>
		<div class="container">	
			<h1>Contact</h1>
			<form id="contactForm" action="/contact" method="POST" novalidate>
			<input type="text" placeholder='nombre'>
			<input type="text" placeholder='email'>
			<textarea type="text" placeholder='comentario' form="contacForm"> </textarea>
			<input type="button" value="Enviar">
			</form>
		</div>
	<% include footer.ejs %>