	<% include header.ejs %>
		<div class="container">
			<h1>Forgot</h1>
			<span id="ajax-panel"></span>
			<p>Email account linked</p>
			<form id="forgot-form" class="" action="/forgot" method="post">
				<input type="text" name="email" value="info@playerchoice.net">
				<button type="submit" name="">Send</button>
			</form>
		</div>
	<% include footer.ejs %>
