		<% include header.ejs %>
		<div class="container">
	        <h1>⚡️ TITTLE ⚡️</h1>
	        <div>
		        <%if (loggedUser) {%>
		        <p>Firstname: <b><%=loggedUser.firstname%></b> </p>
		        <p>Lastname: <b><%=loggedUser.lastname%> </b> </p>
		        <p>Email: <b><%=loggedUser.email%> </b> </p>
		        <p>Account creation data: <b><%=loggedUser.creationDate%></b> </p>
		        <%}%>
						<p id="h" class="text-center">🍔</p>
	        </div>


	    </div>
	    <% include footer.ejs %>
