		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Brand</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
					<%if (loggedUser) {%>
						<p class="navbar-text" id="displayUsername">Hello <a href="/profile"> <%=loggedUser.username%></a></p>
						<a href="/logout"><button id="logoutBtn" type="button" class="btn btn-default navbar-btn">Logout</button></a>
						<%} else {%>
						<a href="/register"><button id="registerBtn" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span>  Sign Up</button></a>
						<a href="/login"><button id="loginBtn" type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span>  Login</button></a>
						<%}%>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title text-center" id="myModalLabel">Please Log in</h4>
			      </div>
			      <div class="modal-body">
							<form id="loginForm" class="form-signin" >
								<label for="inputEmail" class="sr-only">Email address</label>
								<input type="text" name="email" id="inputEmail" value="admin@admin.com" class="form-control" placeholder="Email address" required autofocus>
								<label for="inputPassword" class="sr-only">Password</label>
								<input type="password" name="password" value="11111111" id="inputPassword" class="form-control" placeholder="Password" required>
								<div class="checkbox">
									<label>
									<input type="checkbox" value="remember-me"> Remember me ·
									<a href="/forgot">Forgot your password?</a>
									</label>
								</div>
								<button id="signinButton" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
							</form>
			      	</div>
			<div id="loginOK" style="display:none;" class="alert alert-success text-center">
			</div>
			<div id="loginBad" style="display:none;" class="alert alert-danger text-center">
			</div>
			      <div class="modal-footer">
			      		<h4 class="text-center modal-footer-style">Don't have an account? <a href="/register"> Sign up » </a></h4>
			      </div>
			    </div>
			  </div>
			</div>
