		<% include header.ejs %>
		<div class="container">
			<h1> Sing up</h1>
			<form id="registerForm" action="/register" method="post" novalidate>
				<p><input type="text" name="alias" id="alias" placeholder="Nombre de usuario"> * 3 minimo </p>
				<p><input type="text" name="email" id="email" placeholder="correo electronico"> * Un email valido</p>
				<p><input type="password" name="password1" id="password1" placeholder="contraseña"> * Minimo 8 caracteres</p>
				<p><input type="password" name="password2" id="password2" placeholder="Repetir contraseña"> * Repetir contraseña</p>
				<input type="checkbox" name="legals" id="legals">
				Acepto los <a href="/legal">terminos y condiciones</a>
				<input class="submit" type="submit" value="Enviar">
			</form>
			<div id="registerOK" style="display:none;">
			</div>
		</div>
	    <% include footer.ejs %>