		<% include header.ejs %>
		<div class="container">
	        <h1>HOUR</h1>
	        <p>Welcome</p>
	        <div>
						<p>Current Hour:<%=time%></p>
	        </div>


	    </div>
	    <% include footer.ejs %>
