		<% include header.ejs %>
		<div class="container">
      <h1><b>User page</b></h1>
      <p>Welcome</p>
      <div>
	      <p>Perfil publico de:  <b><%=user.username%></b></p>
				<p>Email: <b><%=user.email%></b></p>
      </div>
	  </div>
	    <% include footer.ejs %>
